
doctype html

html

	head
		title Схема загара по Голтису или как загореть за один день
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//-script(src='https://code.jquery.com/jquery-3.0.0.min.js', type='text/javascript', charset='utf-8')
		script(src='all.js', type='text/javascript', charset='utf-8')
		
		style.
			body {
				background-color: #fff5df;
			}
			#start {
				padding: 10px 20px;
			}
		
	body
		h1 Схема загара по Голтису
		h2 Или как загореть за один день
		
		p.
			Данное приложение делает удобных загорание по методу Голтиса.
			Просто нажмите кнопку «Старт» и начинайте загорать. 
			Когда по графику потребуется поменять позицию вы услышите звуковой сигнал.
		
		audio
		button#start Старт
		
		p#message Нажмите старт!